* {
  font-family: serif;
  background-color: #121212;
  color: #eeeeee;
}

em {
  color: #ffc4c4;
}

.title {
  text-align: center;
  font-size: 72px;
  margin-bottom: 72px;
}

.index-directory {
  text-align: center;

  list-style-type: none;
}

.index-directory li a button{
  color: #121212;
  background-color: #eeeeee;
  margin: 8px;  
  font-size: 32px;
  border: none;
  border-radius: 8px;
}